@font-face {
    font-family: FleshAndBlood;
    src: url("./assets/flesh-and-blood-font/Fleshandblood-MVA5x.ttf")
}

* {
    font-family: FleshAndBlood;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: rgb(27, 27, 27);
}

header {
    background-color: rgb(27, 27, 27);
    color: rgb(255, 255, 255);
    padding: 20px 10px 10px 10px;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.card {
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, 1) 5px 10px 10px;
    height: 200px;
}

.w-40 {
    width: 40%;
}

.background {
    width: 100%;
}

.main-container {
    background-image: url("assets/1.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height: 1080px;
}

.carousel {
    margin: 10%;
    border: 1px solid white;
}
